@import url("https://fonts.googleapis.com/css?family=Pacifico|Quicksand");
* {
  margin: 0;
}

body {
  font-family: "Quicksand", serif;
}

.hero .image {
  background-size: cover;
  height: 100vh;
}

.hero:nth-child(1) .image {
  background-image: url("images/mind.jpg");
}

.hero:nth-child(2) .image {
  background-image: url("images/coffee.jpg");
}

.hero:nth-child(3) .image {
  background-image:  url("images/courage.jpg");
}

.hero:nth-child(4) .image {
  background-color: rgba(241, 137, 45, 0.5);
}

.quote p {
  font-family: "Pacifico", serif;
  color: #ffdb4a;
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-family: "Pacifico", serif;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: "Pacifico", serif;
  text-align: center;
}