@import url("https://fonts.googleapis.com/css?family=Pacifico|Quicksand");
* {
  margin: 0;
}

body {
  font-family: "Quicksand", serif;
}

.quote p {
  font-family: "Pacifico", serif;
  color: #ffdb4a;
  font-size: 50px;
  text-align: center;
  margin: 50px;
}

p {
  font-size: 20px;
  line-height: 1.5;
}

h1 {
  font-family: "Pacifico", serif;
  font-size: 48px;
  font-weight: normal;
  text-align: center;
}

h2 {
  font-family: "Pacifico", serif;
  text-align: center;
}