@import url("https://fonts.googleapis.com/css?family=Pacifico|Quicksand");

* {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

p {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0;
}

h1 {
    font-family: "Pacifico", serif;
    font-size: 3rem;
    text-align: center;
}

h2.subtitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
    font-family: "Pacifico", serif;
    font-size: 25px;
    text-align: center;
}

h2.subtitle:before, h2.subtitle:after {
    content: '';
    flex: 1;
    height: 2px;
    background-color: #FFCF4B;
}

h2.subtitle:before {
    margin-right: 15px;
}

h2.subtitle:after {
    margin-left: 15px;
}

blockquote {
    position: relative;
    padding-left: 20px;
    font-family: "Pacifico", serif;
    font-size: 30px;
}

blockquote:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 100%;
    background-color: #FFCF4B;
    border-radius: 50px;
}

.hero {
    position: relative;
    overflow: hidden;
    height: 100vh;
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
}

.hero:nth-child(1) .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/3.jpg");
    background-size: cover;
}

.hero:nth-child(2) .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/2.jpg");
    background-size: cover;
}

.hero:nth-child(3) .image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/4.jpg");
    background-size: cover;
}

.hero:nth-child(4) .image {
    background-image: linear-gradient(rgb(255, 207, 75), rgba(255, 207, 75, 0.5));
    background-size: cover;
}

.image {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    height: 100%;
}

.quote p{
    width: 50%;
    color: #FFCF4B; 
    font-family: "Pacifico", serif;
    font-size: 50px;
    text-align: center;
}

.content {
    position: relative;
    margin: 0 auto 80px;
    padding: 2rem;
}

.content:before {
    content: '';
    display: block;
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 99;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.content_inner {
    margin: 0 auto;
    max-width: 700px;
}

.content_inner>blockquote {
    margin: 3rem 0;
}